<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87502996599-4qnmrdhs23fq9frrf1d2iao45e7a4m01.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87502996599-4qnmrdhs23fq9frrf1d2iao45e7a4m01</string>
	<key>API_KEY</key>
	<string>AIzaSyBmvwg_Y2dnvOSPDTLfClGhyoAs0GTGIGc</string>
	<key>GCM_SENDER_ID</key>
	<string>87502996599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.musabbayram.InstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-96d6c</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-96d6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87502996599:ios:6c8f6248af78065bdcb272</string>
</dict>
</plist>